 ### ðŸ“Œ Importing and loading data

In [36]:
import pandas as pd
df = pd.read_csv("../test-data/costumers_data.csv")

### ðŸ“Œ Data view

In [28]:
df.head() # shows only the first 5 rows
df # shows the entire DataFrame
df.tail()  # shows only the last 5 rows 
df.sample(3)  # show 3 random rows

,customer_id,name,age,city,country,last_purchase_date,total_spent,purchase_frequency,vip_member
9,10,Amara Okoro,30,Lagos,Nigeria,2025-04-13,950.45,4,No
7,8,Yara Silva,33,SÃ£o Paulo,Brazil,2025-04-14,1345.00,7,Yes
4,5,Isabelle Dubois,34,Paris,France,2025-04-11,1899.20,11,Yes

### ðŸ“Œ Exploring DataFrame

In [ ]:
df[["city", "country"]] # multiple columns

In [40]:
df.iloc[0]     # first row (by index)

customer_id                       1
name                  Emily Johnson
age                              31
city                       New York
country                         USA
last_purchase_date       2025-04-10
total_spent                 1540.75
purchase_frequency               10
vip_member                      Yes
Name: 1, dtype: object

In [ ]:

df.loc[0]      # first row (by label)

In [ ]:
df.iloc[0:5]   # rows from index 0 to 4

In [ ]:
df.describe()  # basic stats for numeric columns

In [ ]:
df.info()      # column types and non-null counts

In [ ]:
df.columns     # list of column names

In [ ]:
df.shape       # returns (rows, columns)

### ðŸ“Œ Filtering data

In [ ]:
# VIP customers
df[df["vip_member"] == "Yes"]

In [ ]:
# Customers with more than 10 purchases
df[df["purchase_frequency"] > 10]

### âœ¨ groupby
Itâ€™s a way to group data based on one or more columns, apply an aggregation function like sum(), mean(), or count(), and then return the combined results.

df.groupby(by)[columns].function()

In [ ]:
df.groupby("city")[["total_spent"]].sum()